.one{
    background-image: url("assets/Hero-bg.png");
    background-repeat: none;  
}

.learn-one{
    display: flex;
}
.learn-two{
    display: flex;
}
.learn-three{
    display: flex;
}

.cards{
    display: flex;
}

.card-one{
    
}
.card-two{
    
}
.card-three{
    
}

.five{
    background-image: url("assets/handshake.jpg");
    background-repeat: none;
}